rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /pdfs/{token}/{file} {
      allow read: if true;
      allow write: if true;
    }
  }
}
